[modules]
[[fix_store]]
module = fix_store.py
public = False
description = ""
[[run_all]]
module = run_all.py
public = False
description = ""
[[init]]
module = init.py
public = False
description = ""
[[empty_store]]
module = empty_store.py
public = False
description = ""
[[debug_response]]
module = debug_response.py
public = False
description = ""
[[index]]
module = index.py
public = False
description = ""
[[install_module]]
module = install_module.py
public = False
description = ""
[[main]]
module = main.py
public = False
description = ""
[[install_dependencies]]
module = install_dependencies.py
public = False
description = ""
[[get_identity]]
module = get_identity.py
public = False
description = ""
[[get_one1]]
module = get_one1.py
public = False
description = ""
[[return_function_type]]
module = return_function_type.py
public = False
description = ""
[[entrypoint]]
module = entrypoint.py
public = True
description = ""
[[schedule]]
module = schedule.py
public = False
description = ""
schedule = "0 */30 * *"
[[get_store]]
module = get_store.py
public = False
description = ""
[[update_store]]
module = update_store.py
public = False
description = ""
[[version]]
module = version.py
public = False
description = ""
[[cleanup_tests]]
module = cleanup_tests.py
public = False
description = ""
[[list_users]]
module = list_users.py
public = False
description = ""
[settings]
[[LOGOUT_URL]]
public = False
value = ""
[[FRONTEND_API_URL]]
public = False
value = ""
[[AWS_SECRET]]
public = False
value = ""
[[SCHEDULE_URL]]
public = False
value = ""
[[FRONTEND_BASE_URL]]
public = False
value = ""
[[EMAIL_SENDER]]
public = False
value = ""
[[INIT]]
public = True
value = yes
[[LOGIN_URL]]
public = False
value = ""
[[GOOGLE_ANALYTICS]]
public = False
value = ""
[[BASE_URL]]
public = False
value = ""
[[AWS_KEY]]
public = False
value = ""
[[RUNTIME_USER]]
public = False
value = ""
[[GOOGLE_ADSENSE]]
public = False
value = ""
[[GOOGLE_SEARCH_ID]]
public = False
value = ""
[[IDENTITY]]
public = False
value = ""
[[FRONTEND_STATIC_URL]]
public = False
value = ""
[[GIT_URL]]
public = True
value = "git+https://github.com/sahlinet/httptest.git#egg=httptest"
