{% if test.data.runs|length_is:"0" or not test.data.last %}
<h3 class="empty"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> {% if not test.data.name %} No Name {% else %} {{ test.data.name }} {% endif %}</h3>
<h5>Has {{ test.data.runs|length }} runs</h3>
<h5>Has {{ test.data.config_data_dict.tests|length }} tests</h3>

{% elif test.data.last.success %}

<h3 class="success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% if not test.data.name %} No Name {% else %} {{ test.data.name }} {% endif %}</h3>
<h5>Has {{ test.data.runs|length }} runs</h3>
<h5>Has {{ test.data.config_data_dict.tests|length }} tests</h3>


{% else %}

<h3 class="failed"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {% if not test.data.name %} No Name {% else %} {{ test.data.name }} {% endif %}</h3>
<h5>Has {{ test.data.runs|length }} runs</h3>
<h5>Has {{ test.data.config_data_dict.tests|length }} tests</h3>


{% endif %}

{% if not FRONTEND_API_URL %}
<a href="/userland/{{RUNTIME_USER}}/httptest/static/test.html?testid={{test.data.testid}}&version=2">&#8594; Go</a>
{% else %}
<a href="/test/?testid={{test.data.testid}}&version=2">Go <i class="fa fa-angle-right" aria-hidden="true"></i></a>
{% endif %}
