{% extends "philipsahli:httptest:static/base.html" %}
{% load humanize %}
{% load datastore %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>HTTPTest</h1>
        <h2>Testing Tool for HTTP-Based Services</h2>
        <p>Declarative HTTP-Based Service Testing, Alerting and SSL Certificate Monitoring</p>
        <ul>
            <li>HTTP-Based Service Testing</li>
            <li>Email Alerting</li>
            <li>SSL Certificate Monitoring</li>
        </ul>
    </div>
</div>

{% data_for_user as data %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-push-1">
            {% if is_authenticated %}
            <h3>Welcome {{ user.username }}</h3>
            <h4>You get notified to {{ user.email }}</h4>
            <h4>You have {{ data|length }} tests.</h4>
            {% else %}
            <h3>Welcome</h3>
            <p><a href="{{ LOGIN_URL }}">&#8594; Login</a> to use HTTPTest</p>
            {% endif %}
        </div>

        <div class="col-md-5">
            <h3>Example <small>Start with this simple configuration</small></h3>
            {% include "philipsahli:httptest:static/includes/example.html" %}
            <hr/>
        </div>
    </div>
</div>

<div class="container-fluid">

    {% if is_authenticated %}
    <div class="row">
        <div class="col-md-3 col-md-push-1">
            <div></div>
            {% include "philipsahli:httptest:static/includes/forms.html" %}
            <div></div>
            <p>You can create up to 5 tests</p>.
        </div>
        <div class="col-md-6">
            <div class="row">
                <h3>Your Tests</h3>
                {% for test in data|dictsort:"data.runs" reversed %}
                <div class="col-md-4">
                    {% include "philipsahli:httptest:static/includes/test_overview.html" with test=test %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            {% include "philipsahli:httptest:static/includes/twitter.html" %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-3 col-md-push-1">
        </div>
    </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                {% include "philipsahli:httptest:static/includes/adsense.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
