{% extends "philipsahli:httptest:static/base.html" %}

{% load humanize %}


    {% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>HTTPTest</h1>
            <h2>Testing Tool for HTTP-Based Services</h1>
            <p>Declarative HTTP-Based Service Testing, Alerting and SSL Certificate Monitoring</p>
<ul>
  <li>HTTP Service Testing</li>
  <li>Email Alerting</li>
  <li>SSL Certificate Monitoring</li>
</ul>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-12">
                <h1 id="testid"></h1>
                <!-- <h1 id="version"></h1> -->
                <!--<a href="/fastapp/api/base/httptest/apy/entrypoint/execute/">Create new test</a>-->
                {% if FRONTEND_API_URL %}
                <a target="_blank" href="{{FRONTEND_API_URL}}" class="btn btn-primary btn-primary">Create new test &raquo;</a>
                <div></div>
                <div class="input-group col-md-4" style="padding-top: 10px;">
                  <input id="email" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button id="sendmail" class="btn btn-primary" type="button">Mail my links &raquo;</button>
                  </span>
                </div><!-- /input-group -->


                {% else %}
                <a target="_blank" href="/fastapp/api/username/{{RUNTIME_USER}}/base/httptest/apy/entrypoint/execute/" class="btn btn-primary btn-primary">Create new test &raquo;</a>
                <!--<a target="_blank" id="sendmail" href="/fastapp/api/username/{{RUNTIME_USER}}/base/httptest/apy/entrypoint/execute/" class="btn btn-primary btn-primary">Mail my links &raquo;</a>-->
                <div></div>
                <div class="input-group col-md-4" style="padding-top: 10px;">
                  <input id="email" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button id="sendmail" class="btn btn-primary" type="button">Mail my links &raquo;</button>
                  </span>
                </div><!-- /input-group -->

                {% endif %}



                <div>
                    <h3>Example <small>Start with this simple configuration</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>YAML Data <small>If you prefer JSON format translate it on <a href="http://yamltojson.com/">yamltojson.com</a></small></h4>
                            <code>environments:
    - name: "sahli"
      base_url: "https://sahli.net"
    - name: "tumbo.io"
      base_url: "https://tumbo.io"
tests:
    - name: "test_home"
      uri: "/"
      asserts:
         assert_status_code_is: 200</code>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
            </div>
        <hr>
        </div>
            <!-- /.row -->

        {% include "philipsahli:httptest:static/includes/adsense.html" %}


{% endblock %}
