{% extends ""|add:RUNTIME_USER|add:":httptest:static/base.html" %}

{% block header %}
    {% if FRONTEND_STATIC_URL %}
    <link rel="stylesheet" href="{{ FRONTEND_STATIC_URL }}css/markdown.css">
    {% else %}
    <link rel="stylesheet" href="{{ FASTAPP_STATIC_URL }}css/markdown.css">
    {% endif %}
{% endblock %}



{% block body %}
    <div class="container">
    <div class="row">
    <div class="col-md-12 md">
    <h1>Usage</h1>
{% include ""|add:RUNTIME_USER|add:":httptest:static/docs/usage.html" %}
    </div>
    </div>
{% endblock %}
